body {
    background-image: url("IMG_2470.jpg");
    /* background-attachment: fixed; */
    background-repeat: no-repeat;
    background-size: 100%;
    height: 60em;
}

.navbar {
    background-color: #000000;
}

.lead {
    font-size: 3em;
    color: ghostwhite;
}

.white {
    color: ghostwhite;
}